<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <!-- Threadpool Settings -->
  <add key="MinWorkerThreads" value="5" />
  <add key="MinCompletionPortThreads" value="10" />
  <add key="MaxWorkerThreads" value="15" />
  <add key="MaxCompletionPortThreads" value="20" />
  
  <!-- Bing API Data -->
  <add key="BingApiUrl" value="http://www.bing.com/HPImageArchive.aspx?format=js&amp;idx={0}&amp;n={1}&amp;mkt={2}" />
  <add key="BingApiMarket" value="sv-SE"/>
  <add key="BingDefaultDownloadRoot" value="http://www.bing.com" />
  
  <!-- Service Strings -->
  <add key="ServiceName" value="Microsoft.EnterpriseCloud.Service.DownloadBingImage" />
  <add key="SemaphoreLimit" value="5"/>
  <add key="InitialTimerValue" value="60"/>
  <add key="IntervalTimerValue" value="6"/>
  <add key="UserAgent" value="Microsoft.Samples.Service.DownloadBingImage/1.0"/>
  <add key="TargetFolder" value="C:\Temp\"/>
  <add key="ServiceLogPath" value="C:\Temp\DownloadBingImages.log"/>

</appSettings>
</configuration>
